.dds-captura-who-bg {
  background: url("./img/who-greek.webp") no-repeat 22% 10% /
    620px;
  padding-bottom: 60px;
}

.dds-captura-who {
  margin-left: 800px;
}

.dds-captura-who h1 {
  margin-top: 40px;
  margin-bottom: 12px;
}

.dds-captura-who-item {
  display: flex;
  gap: 6px;
  position: relative;
  max-width: 500px;
  align-items: self-start;
  border-bottom: 3px solid #cfcfcf;
  padding-bottom: 10px;
  margin-bottom: 12px;
}
.dds-captura-who-item > img {
  margin-top: 4px;
}

.dds-captura-who a {
  margin-top: 24px;
  max-width: 280px;
}

.dds-captura-who-box {
  text-align: center;
  padding: 24px 40px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background: #fff;
  opacity: 0.85;
  max-width: 640px;
  margin: 100px auto 0 auto;
}

@media (max-width: 1400px) {
  .dds-captura-who {
    margin-left: 690px;
  }
}

@media (max-width: 1280px) {
  .dds-captura-who {
    margin-left: 630px;
  }
}

@media (max-width: 1024px) {
  .dds-captura-who-bg {
    background: url("./img/who-greek.webp") no-repeat 22% 10% /
      560px;
  }
  .dds-captura-who {
    margin-left: 550px;
  }
}

@media (max-width: 800px) {
  .dds-captura-who-bg {
    background: url("./img/who-greek.webp") no-repeat 110% 90% /
      360px;
  }
  .dds-captura-who {
    margin-left: 0px;
  }
  .dds-captura-who-item {
    max-width: 440px;
  }
}

@media (max-width: 450px) {
  .dds-captura-who-bg {
    background: url("./img/who-greek.webp") no-repeat 110% 74% /
      330px;
  }
  .dds-captura-who h1 {
    font-size: 1.75rem;
    line-height: 1.25;
  }
  .dds-captura-who p {
    font-size: 1rem;
  }
  .dds-captura-who-box {
    margin-top: 360px;
  }
}
